<footer>
		<div class="row">
		
			<div class="col-lg-12 footer">
			
				&copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
				{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
				<br>
				<p><img src="{{ "images/company_logo.png" }}" alt="Company logo"/></p>
				<br>
				<br>
				<p class="text-center">
					{{ site.topnav_title }} |
					Powered by <a href="https://www.orange-business.com">Orange Business Services</a>
				</p>
				<!-- <p class="text-muted">Place sticky footer content here.</p> -->

		</div>
            
</footer>

{% comment %} Copyright 2021 Google LLC {% endcomment %}
