
<li><a href="{{ "/about" | relative_url }}">About</a></li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Service Categories<b class="caret"></b></a>
    <ul class="dropdown-menu">
	    	<li class="header"><p>Core Services</p></li>
		<li><a href="{{ "/managed_cloud_foundation_services" | relative_url }}">Managed Cloud Foundation Services</a></li>
		<li><a href="{{ "/managed_identity_and_access" | relative_url }}">Managed Identity and Access</a></li>
		<li><a href="{{ "/cloud_managed_device" | relative_url }}">Cloud Managed Device</a></li>
		<li><a href="{{ "/managed_office365" | relative_url }}">Managed Office 365</a></li>
		<li><a href="{{ "/managed_cloud_hosted_desktop_and_apps" | relative_url }}">Managed Cloud Hosted Desktop & Apps</a></li>
		<li class="header"><p>Orange Services</p></li>
		<li><a href="{{ "/managed_cloud_hosted_desktop_and_apps_hybrid" | relative_url }}">Managed Cloud Hosted Desktop & Apps (Hybrid)</a></li>
		<li><a href="{{ "/managed_local_and_office_lan_wifi" | relative_url }}">Managed Local & Office Lan/WiFi</a></li>
		<li><a href="{{ "/device_as_a_service" | relative_url }}">Device as a Service</a></li>
		<li><a href="{{ "/teams_operator_connect" | relative_url }}">Teams Operator Connect</a></li>
		<li><a href="{{ "/managed_application_delivery_services" | relative_url }}">Managed Application Delivery Services</a></li>
		<li><a href="{{ "/managed_workspace_portal" | relative_url }}">Managed Workspace Portal</a></li>
		<li><a href="{{ "/digital_employee_experience_monitoring" | relative_url }}">Digital Employee Experience Monitoring</a></li>
		<li><a href="{{ "/managed_detection_and_response" | relative_url }}">Managed Detection and Response</a></li>
		<li><a href="{{ "/cloud_managed_printing" | relative_url }}">Cloud Managed Printing</a></li>
		<li><a href="{{ "/employee_adoption_service" | relative_url }}">Employee Adoption Service</a></li>
		<li><a href="{{ "/employee_support_desk" | relative_url }}">Employee Support Desk</a></li>
    </ul>
</li>

<li><a href="{{ "/about" | relative_url }}">Services Blocks</a></li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="{{ "/microsoft_endpoint_manager" | relative_url }}">Microsoft Endpoint Manager</a></li>
        <li><a href="{{ "/azure_virtual_desktop" | relative_url }}">Azure Virtual Desktop</a></li>
        <li><a href="{{ "/office_365" | relative_url }}">Office 365</a></li>
        <li><a href="{{ "/liquit_workspace" | relative_url }}">Liquit Workspace</a></li>
        <li><a href="{{ "/workspace_365" | relative_url }}">Workspace 365</a></li>
        <li><a href="{{ "/microsoft_viva" | relative_url }}">Microsoft Viva</a></i>
    </ul>
</li>
